* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 0;
  padding-left: 17rem;
}

.container table td{
  padding:10px 10px 10px 10px
}

.container a{
  text-decoration: none;
  color: black;
}

.container a img{
  width: 150px;
  height: 150px;
}

